<div class="flex min-h-full flex-col justify-center py-12 px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h1 class="mt-10 text-center text-2xl font-bold tracking-tight text-gray-900">Register a new account</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
  <%= form_with model: @user, url: signup_path, local: true, class: "space-y-6" do |f| %>
    <div class="mb-4">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: input_field_class %>

    </div>

    <div class="mb-4">
      <%= f.label :email_address %><br>
      <%= f.email_field :email_address, class: input_field_class, required: true %>
    </div>

    <div class="mb-4">
      <%= f.label :password %><br>
      <%= f.password_field :password, class: input_field_class, required: true %>
    </div>

    <div class="mb-4">
      <%= f.label :password_confirmation %><br>
      <%= f.password_field :password_confirmation, class: input_field_class, required: true %>
    </div>

    <%= f.submit "Sign Up", class: "bg-blue-600 text-white px-4 py-2 rounded" %>
  <% end %>

  <div class="mt-6 text-center">
    <p class="text-sm text-gray-600">
      Already have an account?
      <%= link_to "Log in", login_path, class: "font-medium text-blue-600 hover:text-blue-500" %>
    </p>
  </div>
  </div>
</div>